<template>
  <div id="app" class="container">
    <notifications group="buildit-messages" />
    <router-view/>
  </div>
</template>

<script>
import auth from './auth'
export default {
  updated () {
    if (!auth.authenticated() && this.$route.path !== '/login' && this.$route.path !== '/registration') {
      this.$router.push('/?redirect=' + this.$route.path)
    }
  },
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
