<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">BuildIT - View Plant Hire Request</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>
    <template v-if="plantHireRequest">
        <table class="table">
            <tr>
                <th>Site engineer name</th>
                <th>Site id</th>
                <th>Supplier</th>
                <th>Plant reference</th>
                <th>Price</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{ plantHireRequest.siteEngineerName }}</td>
                <td>{{ plantHireRequest.siteId }}</td>
                <td>{{ plantHireRequest.supplier }}</td>
                <td>{{ plantHireRequest.plantReference }}</td>
                <td>{{ plantHireRequest.price }}</td>
                <td>{{ plantHireRequest.rentalPeriod.startDate }}</td>
                <td>{{ plantHireRequest.rentalPeriod.endDate }}</td>
                <td>{{ plantHireRequest.status }} </td>
            </tr>
        </table>
    </template>
    <hr>

  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import popUp from './popUp'

export default {
  name: 'plantHireRequest',
  data () {
    return {
      plantHireRequest: undefined
    }
  },
  mounted () {
    this.getPlantHireRequest()
  },
  methods: {
    getPlantHireRequest () {
      axios.get('http://localhost:8080/api/plantHire/requests/' + this.$route.params.id).then(response => {
        if (response.data) {
          this.plantHireRequest = response.data
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    }
  }
}

</script>

<style>
</style>
