<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
      <div style="margin-bottom:10px">
        <h1>Check availability</h1>
          <el-date-picker
            v-model="duration"
            type="daterange"
            align="right"
            range-separator="To"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            :picker-options="pickerOptions"
            />
    </div>
    <select id="plantSelection" class="form-control" @change="onPlantChange($event)" style="margin-bottom:12px">
      <option v-if="this.filteredList.length > 0" value="" selected disabled>Search Results</option>
      <option v-if="this.filteredList.length == 0" value="" selected disabled>No Results</option>
      <option v-else v-for="(plantEntry, index) in this.filteredList" :value="index" :key="plantEntry.id">{{ plantEntry._id  }}</option>
    </select>
    <div class="row">
      <h3>Plant inventory entries</h3>
    </div>
    <input type="text" v-model="search" placeholder="Search inventory item.."/>
    <div v-if="filteredList.length == 0 && search" style="">
       <i>No matching results</i>
    </div>
    <div v-if="filteredList.length == 0 && !search" style="">
       <i>You don't have any inventory entries yet!</i>
    </div>
    <template v-if="filteredList.length > 0">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <tr v-for="(plant, index) in filteredList" :key="index">
          <td>{{ plant._id }}</td>
          <td>{{ plant.name }}</td>
          <td>{{ plant.description }}</td>
          <td>{{ plant.price }}</td>
        </tr>
      </table>
    </template>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import popUp from './popUp'

export default {
  name: 'plants',
  data () {
    return {
      duration: [],
      search: '',
      plants: [],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      }
    }
  },
  computed: {
    filteredList () {
      return this.plants.filter(plant => {
        return (plant._id + '').toLowerCase().includes(this.search.toLowerCase()) || (plant && plant.name && (plant.name.toLowerCase().includes(this.search.toLowerCase())))
      })
    }
  },
  mounted () {
    this.getPlants()
  },
  methods: {
    getPlants () {
      axios.get('http://localhost:8090/api/inventory/entries').then(response => {
        if (response.data._embedded) {
          response.data._embedded.plantInventoryEntryDToes.forEach((value) => {
            this.plants.push(value)
          })
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    },
    onPlantChange (event = undefined) {
      if (this.duration.length > 0) {
        var startDate = this.duration[0].toISOString().slice(0, 10)
        var endDate = this.duration[1].toISOString().slice(0, 10)
        axios.get('http://localhost:8090/api/inventory/items/' + (parseInt(document.getElementById('plantSelection').value) + 1) + '/availability?startDate=' + startDate + '&endDate=' + endDate).then(response => {
          if (response.data === false) {
            popUp.showErrorPopup('Plant is not available')
          } else {
            popUp.showSuccessPopup('Plant is available')
          }
        })
      } else {
        popUp.showErrorPopup('Add dates to see availability')
      }
    }
  }
}

</script>

<style>
</style>
