<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">RentIT - View Purchase Order</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>
    <hr>
    <template v-if="purchaseOrder">
      <div style="margin-bottom:10px">
        <h1>Time period</h1>
          <el-date-picker
            v-model="duration"
            type="daterange"
            align="right"
            range-separator="To"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            :picker-options="pickerOptions"
            />
          <v-btn v-if="purchaseOrder.status === 'ACCEPTED'" class="btn btn-success" v-on:click="modifyPO()">Modify</v-btn>
      </div>
      <div class="row">
        <h3>Purchase order</h3>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Plant</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr>
          <td>{{ purchaseOrder._id }}</td>
          <td>{{ purchaseOrder.rentalPeriod.startDate }}</td>
          <td>{{ purchaseOrder.rentalPeriod.endDate }}</td>
          <td>{{ purchaseOrder.plantId }}</td>
          <td>{{ purchaseOrder.status }}</td>
          <td>
            <router-link v-if="purchaseOrder.invoice === null" style="margin-right:8px;" :to="`/create-invoice/${purchaseOrder._id}`" class="btn btn-success">Create invoice</router-link>
          </td>
        </tr>
      </table>
    </template>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import popUp from './popUp'

export default {
  name: 'purchaseOrder',
  data () {
    return {
      duration: [],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      },
      purchaseOrder: undefined
    }
  },
  mounted () {
    this.getPurchaseOrder()
  },
  methods: {
    getPurchaseOrder () {
      axios.get('http://localhost:8090/api/sales/orders/' + this.$route.params.id).then(response => {
        if (response.data) {
          this.purchaseOrder = response.data
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    },
    modifyPO () {
      if (this.duration !== null && this.duration.length > 0) {
        console.error(this.duration)
        var startDate = this.duration[0].toISOString().slice(0, 10)
        var endDate = this.duration[1].toISOString().slice(0, 10)
        axios.patch('http://localhost:8090/api/sales/orders/' + this.$route.params.id + '/modify/' + '?from=' + startDate + '&to=' + endDate).then(response => {
          if (response.data) {
            popUp.showSuccessPopup('PO was modified successfully')
            this.purchaseOrder = response.data
          }
        }).catch(error => {
          const {status} = error.response
          if (status === 401) {
            popUp.showErrorPopup('Authentication failed', 'Bad credentials')
          } else {
            popUp.showErrorPopup('Could not change the range for plant')
          }
        })
      } else {
        popUp.showInfoPopup('Please select timerange')
      }
    }
  }
}

</script>

<style>
</style>
